<header class="site-header" role="banner">

  <head>
    <link rel="stylesheet" href="{{ site.site }}/assets/css/dropdownmenus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <div class="wrapper" style="max-width: 100%; padding-left: 0px; padding-right: 0px">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ | escape }}</a>

    <div class="JoinSIOverlay">
        <button type="button" class="button1" onclick="window.location.href='https://www.amstat.org/membership';" style="height:25%; width:12%;">
             Renew/Join SI Section
        </button>
    </div>

    <div class="SILogoOverlay">
        <a href="/">
            <img src="/assets/ASASI_logo_transparent-hd.png" alt="SIlogo" width="50%" >
        </a>
    </div>

    {%- if page_paths -%}
      <nav class="site-nav2">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>


        <div style="width: 100%;display: flex;flex-direction: row;justify-content: space-around;">

          <div class="dropdown">
            <span><a href="/">ABOUT SI</a> </span>
            <div class="dropdown-content">
              <!-- <p><a href="/about_missionstatement/">Mission Statement</a></p> -->
              <p><a href="/about_history/">History</a></p>
              <a href="/about_officers/">Officers</a>
            </div>
          </div>

          <a href="/news_announcements/", style="color: #FFFFFF">NEWS AND ANNOUNCEMENTS</a>

          <div class="dropdown">
            <span><a href="/events/">EVENTS</a> </span>
            <div class="dropdown-content">
            <p><a href="/events_smi/">SMI Meetings</a></p>
            <a href="/events_workshops/">Workshops</a>
            </div>
          </div>

          <div class="dropdown">
            <span><a href="/competitions_home/">AWARDS</a></span>
            <div class="dropdown-content">
            <p><a href="/jsm_competitions/">JSM SI Section Student Paper Competition</a></p>
            <a href="/smi_competitions/">SMI Conference Student Paper Competition</a>
            </div>
          </div>

          <div class="dropdown">
            <span><a href="/resources_home/">RESOURCES</a></span>
            <div class="dropdown-content">
            <p><a href="/resources_jobs/">Jobs</a></p>
            <p><a href="/resources_videos/">Videos</a></p>
            <a href="/resources_tutorials/">Tutorials</a>
            </div>
          </div>

        </div>

      </nav>
    {%- endif -%}
  </div>
</header>
