<head>
    <link rel="stylesheet" href="{{ site.site }}/assets/css/dropdownmenus.css">
</head>

<h3>
  <center> {{ include.requested_conference }} {{ include.requested_year }} Winners </center>
</h3>

{% assign requested_year = include.requested_year %}
{% assign requested_conference = include.requested_conference %}

{% assign students_temp = site.data.student_paper_competitions | where_exp:"item", "item.Year == requested_year" %}
{% assign students = students_temp | where_exp:"item", "item.Conference == requested_conference" %}
{% assign winners = students | where_exp:"item", "item.Type == 'Winner'" %}
<!-- Github does not support Jykell > 4.0 So "item.Type == 'Winner' or item.Type == 'Co-Winner'" does not work as it is only supported in Jykell >= 4.0'-->
{% assign cowinners = students | where_exp:"item", "item.Type == 'Co-Winner'" %}
{% assign runnerups = students | where_exp:"item", "item.Type == 'Runner-Up'" %}

<table class="tableSI">
<colgroup>
<col width="20%" />
<col width="20%" />
<col width="20%" />
<col width="10%" />
<col width="30%" />
</colgroup>
<thead>
<tr>
<th class="headerSI">Name</th>
<th class="headerSI">Affiliation</th>
<th class="headerSI">Advisor</th>
<th class="headerSI">Status</th>
<th class="headerSI">Paper Title</th>
</tr>
</thead>
<!-- Github does not support Jykell > 4.0 So we must use a separated list for co-winners-->
    {% for student in cowinners %}
            <tr>
            <td>
            {{ student.Firstname }} {{ student.Lastname }}
            </td>
            <td>
            {{ student.Affil }}
            </td>
            <td>
            {{ student.Advisor }}
            </td>
            <td>
            <b>{{ student.Type }}</b>
            </td>
            <td>
            {{ student.Title }}
            </td>
            </tr>
    {% endfor %}
    {% for student in winners %}
            <tr>
            <td>
            {{ student.Firstname }} {{ student.Lastname }}
            </td>
            <td>
            {{ student.Affil }}
            </td>
            <td>
            {{ student.Advisor }}
            </td>
            <td>
            <b>{{ student.Type }}</b>
            </td>
            <td>
            {{ student.Title }}
            </td>
            </tr>
    {% endfor %}
    {% for student in runnerups %}
            <tr>
            <td>
            {{ student.Firstname }} {{ student.Lastname }}
            </td>
            <td>
            {{ student.Affil }}
            </td>
            <td>
            {{ student.Advisor }}
            </td>
            <td>
            <b>{{ student.Type }}</b>
            </td>
            <td>
            {{ student.Title }}
            </td>
            </tr>
    {% endfor %}
</table>
