<h3>
  <center> {{ include.requested_conference }} {{ include.requested_year }} Winners </center>
</h3>

{% assign requested_year = include.requested_year %}
{% assign requested_conference = include.requested_conference %}

{% assign students_temp = site.data.student_paper_competitions | where_exp:"item", "item.Year == requested_year" %}
{% assign students = students_temp | where_exp:"item", "item.Conference == requested_conference" %}
{% assign winners = students | where_exp:"item", "item.Type == 'Winner'" %}
{% assign runnerups = students | where_exp:"item", "item.Type == 'Runner-Up'" %}

<table>
<colgroup>
<col width="20%" />
<col width="20%" />
<col width="60%" />
</colgroup>
<thead>
<tr class="header">
<th>Name</th>
<th>Status</th>
<th>Paper Title</th>
</tr>
</thead>
    {% for student in winners %}
            <tr>
            <td>
            {{ student.Firstname }} {{ student.Lastname }}
            </td>
            <td>
            <b>{{ student.Type }}</b>
            </td>
            <td>
            {{ student.Title }}
            </td>
            </tr>
    {% endfor %}
    {% for student in runnerups %}
            <tr>
            <td>
            {{ student.Firstname }} {{ student.Lastname }}
            </td>
            <td>
            <b>{{ student.Type }}</b>
            </td>
            <td>
            {{ student.Title }}
            </td>
            </tr>
    {% endfor %}
</table>
