---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title {
content: url("/assets/ASA_SI_logo_dark.png");
display: inline-block;
position: relative;
width: 100%;
top: 5px;
}
